/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
/* Custom styles for the Snackbar component */
.snackbar-content {
    flex: 1;
  }
  
  .snackbar-action {
    color: white;
  }
  
  .success-snackbar {
    background-color: #4caf50 !important;
  }
  
  .warning-snackbar {
    background-color: #ff9800;
  }
  
  .error-snackbar {
    background-color: #f44336;
  }
  